.list {
  max-width: 500px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.li {
  list-style-type: none;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position:relative;
  align-items: center;
  padding: 12px 40px;
font-size: 30px;
}
.mobutton {
  text-align: center;
  padding: 12px 40px;
  border: none;
  background-color: #f7ca18;
  color: white;
  max-width: 40px;
  cursor: pointer;
  position:absolute;
  right:5%;
  top:30%;
}
.lili{
    list-style-type:none;

}
.completed{
    text-decoration: line-through;
}
